<% @page.id %>

<div id="wikiList">
	<fieldset style="width:30%">
		<ul>
			<% counter = 0%>
			<% @page.r_entries.all.each do |entry| %>			
				<li><a href="#entry-<%= counter %>"><%=entry.title.html_safe%></a></li>
				<% counter += 1 %>						
			<% end %>		
		</ul>
	</fieldset>
	<% counter = 0%>
	<% @page.r_entries.all.each do |entry| %>	
		<div id="entry-<%= counter %>">
			<h2><%= entry.title.html_safe %></h2>
			<p>
				<%= entry.entry.html_safe%>
			</p>
		</div>
		<% counter += 1 %>			
	<% end %>
</div>
