<%= form_for(@r_pages_to_entry) do |f| %>
  <% if @r_pages_to_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@r_pages_to_entry.errors.count, "error") %> prohibited this r_pages_to_entry from being saved:</h2>

      <ul>
      <% @r_pages_to_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :r_page_id %><br>
    <%= f.select :r_page_id, options_from_collection_for_select(RPage.all, 'id', 'name') %>
  </div>
  <div class="field">
    <%= f.label :r_entry_id %><br>
    <%= f.select :r_entry_id, options_from_collection_for_select(REntry.all, 'id', 'title') %>
  </div>
  <div class="field">
    <%= f.label :properties %><br>
    <%= f.text_field :properties %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
