<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @r_link.link %>
</p>

<p>
  <strong>Properties:</strong>
  <%= @r_link.properties %>
</p>

<%= link_to 'Edit', edit_r_link_path(@r_link) %> |
<%= link_to 'Back', r_links_path %>
