<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @r_language.language %>
</p>

<p>
  <strong>Properties:</strong>
  <%= @r_language.properties %>
</p>

<%= link_to 'Edit', edit_r_language_path(@r_language) %> |
<%= link_to 'Back', r_languages_path %>
