<%= form_for(@r_property_definition) do |f| %>
  <% if @r_property_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@r_property_definition.errors.count, "error") %> prohibited this r_property_definition from being saved:</h2>

      <ul>
      <% @r_property_definition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property %><br>
    <%= f.text_field :property %>
  </div>
  <div class="field">
    <%= f.label :symbol %><br>
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :table %><br>
    <%= f.text_field :table %>
  </div>
  <div class="field">
    <%= f.label :definition %><br>
    <%= f.text_field :definition %>
  </div>
  <div class="field">
    <%= f.label :properties %><br>
    <%= f.text_field :properties %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
